.view-header{
	border-bottom: 1px white solid;
    width: 95%;
    margin-top: 5px !important;
    margin-bottom: 2%;
    margin-left: 1%;
}

//github footer
.site-footer{position:relative;margin-top:40px;padding-top:40px;padding-bottom:40px;font-size:12px;line-height:1.5;color:#777;border-top:1px solid #eee}
.site-footer:before{display:table;content:""}
.site-footer:after{display:table;clear:both;content:""}
.site-footer .octicon-mark-github{position:absolute;top:38px;left:50%;height:24px;width:24px;margin-left:-12px;font-size:24px;color:#ccc}
.site-footer .octicon-mark-github:hover{color:#bbb}
.site-footer-links{margin:0;list-style:none}
.site-footer-links li{display:inline-block;line-height:16px}
.site-footer-links li+li{margin-left:10px}
.billing-plans tbody td{width:25%;vertical-align:middle} 
.site-footer{border-top:0;margin-top:0}
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
Image credits: unsplash.com, uifaces.com/authorized
Image placeholders: placemi.com
*/


#t-cards {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #345;    
}

/********************************/
/*          Panel cards         */
/********************************/
.panel.panel-card {
    position: relative;
    height: 241px;
    border: none;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;
    
    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.panel.panel-card .panel-heading button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
} 

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
} 


.panel.panel-card:hover .panel-heading {
    height: 55px;
    
    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}
/* passcheck styles */
            .strength0
            {
                width:0%;
                background:#B20E37;
                text-align: center;
                font-weight: bold;
            }
            .strength1
            {
                width:20%;
                background:#D32847;
                text-align: center;
                font-weight: bold;
            }
            .strength2
            {
                width:40%;
                background:#ff5f5f;
                text-align: center;
                font-weight: bold;
            }
            .strength3
            {
                width:60%;
                background:#83D680;
                 text-align: center;
                font-weight: bold;
            }
            .strength4
            {
                background:#4dcd00;
                width:80%;
                 text-align: center;
                font-weight: bold;
            }
            .strength5
            {
                background:#399800;
                width:95%;
                text-align: center;
                font-weight: bold;
            }
//ui view self
.ui-view-container{
    position: relative;
}
[ui-view].ng-enter,[ui-view].ng-enter{
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
}
[ui-view].ng-enter{
    opacity:0;
    -webkit-transform:scale3d(0.96,0.96,0.96);
    -moz-transform:scale3d(0.96,0.96,0.96);
    -o-transform:scale3d(0.96,0.96,0.96);
    transform:scale3d(0.96,0.96,0.96);
}
[ui-view].ng-enter-active{
    opacity:1;
    -webkit-transform:scale3d(1,1,1);
    -moz-transform:scale3d(1,1,1);
    -o-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1);
}
[ui-view].ng-leave{
    opacity:1;
    -webkit-transform:scale3d(0,0,0);
    -moz-transform:scale3d(0,0,0);
    -o-transform:scale3d(0,0,0);
    transform:scale3d(0,0,0.96);
}
[ui-view].ng-leave-active{
    opacity:0;
}

