<div class="row">
	<div class="col-md-12 view-header">
		<h3>Championship Details</h3>
	</div>
	<div class="col-md-4">
		<form role="form" ng-controller="CreateChCtrl">
			<div class="form-group">
				<label>Championship Name:</label>
				<input ng-required="true" type="text" class="form-control" ng-model="championship.name" placeholder="Enter Championship Name" required="true">
			</div>
			<div class="form-group">
				<label>Organizers Name:</label>
				<input ng-required="true" class="form-control" required ng-model="championship.organizer" type="text" placeholder="Overs for championship">
			</div>
			<div class="form-group">
				<label>Description</label>
				<br>
				<textarea class="form-control" ng-model="championship.description" placeholder="Short Description of the Championship"></textarea>
			</div>

			<div class="form-group">
				<label>No. of Overs</label>
				<input ng-required="true" class="form-control" required ng-model="championship.overs" type="text" placeholder="Overs for championship">
			</div>
			<div class="form-group">
				<label>No. of Players(In a team)</label>
				<input ng-required="true" type="text" required class="form-control" ng-model="championship.players" placeholder="No. of players"/>
			</div>
			<button type="submit" ng-click="createChampionship()" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col-md-8 tree" style="text-align:center;">
		<div class="md-macbook-pro">
			<div class="md-lid">
				<div class="md-camera"></div>
				<div class="md-screen">
					
					<div class="row">
						<div class="col-xs-12 winner metro-tile">Winner</div>
					</div>
					<div class="row seperator">
					</div>
					<div class="row">
						<div class="col-xs-6 semifinalist metro-tile btn">Semifinal1</div>
						<div class="col-xs-6 semifinalist metro-tile btn">Semifinal2</div>
					</div>
					<div class="row seperator">
					</div>
					<div class="row">
						<div class="col-xs-3 qualifier metro-tile btn">Qualifier1</div>
						<div class="col-xs-3 qualifier metro-tile btn">Qualifier2</div>
						<div class="col-xs-3 qualifier metro-tile btn">Qualifier3</div>
						<div class="col-xs-3 qualifier metro-tile btn">Qualifier4</div>
					</div>
					<div class="row seperator">
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team1</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team2</a></div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team3</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team4</a></div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team5</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team6</a></div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team7</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team8</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="md-base"></div>
		</div>
	</div>
</div>