<div class="row">
	<div class="col-md-12 view-header">
		<h3>Championship Details</h3>
	</div>
	<div class="col-md-4">
		<form role="form" ng-controller="CreateChCtrl">
			<div class="form-group">
				<label>Championship Name:</label>
				<input ng-required="true" type="text" class="form-control" ng-model="championship.name" placeholder="Enter Championship Name" required="true">
			</div>
			<div class="form-group">
				<label>No. of Overs</label>
				<input ng-required="true" class="form-control" required ng-model="championship.overs" type="text" placeholder="Overs for championship">
			</div>
			<div class="form-group">
				<label>No. of Players(In a team)</label>
				<input ng-required="true" type="text" required class="form-control" ng-model="championship.players" placeholder="No. of players"/>
			</div>
			<div class="form-group">
				<label>Championship Options:</label>
				<br>
				<label>
					<input ng-required="true" type="checkbox" ng-model="championship.noob">
					Runs for Noob
				</label>
				<label>
					<input ng-required="true" type="checkbox" ng-model="championship.wide">
					Runs for wide
				</label>
				<label>
					<input ng-required="true" type="checkbox" ng-model="championship.overstrike">
					Over Completion Strike change:{{championship.overstrike}}
				</label>
			</div>
			<button type="submit" ng-click="createChampionship()" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col-md-8 tree" style="text-align:center;">
		<div class="md-macbook-pro">
			<div class="md-lid">
				<div class="md-camera"></div>
				<div class="md-screen">
					
					<div class="row">
						<div class="col-xs-12 winner metro-tile">winner</div>
					</div>
					<div class="row seperator">
					</div>
					<div class="row">
						<div class="col-xs-6 semifinalist metro-tile btn">semifinal1</div>
						<div class="col-xs-6 semifinalist metro-tile btn">semifinal</div>
					</div>
					<div class="row seperator">
					</div>
					<div class="row">
						<div class="col-xs-3 qualifier metro-tile btn">qualifier1</div>
						<div class="col-xs-3 qualifier metro-tile btn">qualifier2</div>
						<div class="col-xs-3 qualifier metro-tile btn">qualifier3</div>
						<div class="col-xs-3 qualifier metro-tile btn">qualifier4</div>
					</div>
					<div class="row seperator">
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team1</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team2</a></div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team3</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team4</a></div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team5</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team6</a></div>
						</div>
						<div class="col-md-3">
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team7</a></div>
							<div class="col-xs-6 team metro-tile"><a href="#/team">Team8</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="md-base"></div>
		</div>
	</div>
</div>