<div class="container">
    <div class="page-header">
        <h1>CREDITS</h1>
    </div>
    <div class="row">
    	<div class="col-md-6">
        
<div class="panel panel-default">
  <div class="panel-leftheading">
      <h3 class="panel-lefttitle">jaredhardy</h3>
  </div>
  <div class="panel-rightbody">
	Macbook pro mockup from:
	http://jaredhardy.com/minimal-devices/
  </div>
    <div class="clearfix">
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-leftheading">
      <h3 class="panel-lefttitle">Hardeep Asrani</h3>
  </div>
  <div class="panel-rightbody">
	Macbook pro mockup from:
	http://jaredhardy.com/minimal-devices/
  </div>
    <div class="clearfix">
    Windows 8 like tile look in Championship heirarchy:
    http://hardeepasrani.blogspot.com
    </div>
</div>

    </div>
</div>