<div class="jumbotron" ng-controller="HomeController">
	<h1>Welcome To ScoreBoard!</h1>
	<p>ScoreBoard is an application that is made for managing scoreboard of a cricket match
	on a free to use website.In the current version of ScoreBoard You can manage the scores of a single match.But In future releases you will be able to organize a whole championship of
	cricket match with matchwise analysis support.You will be able to see the statistics about
	single player performance over the competition.Ground wise score analysis in diffrent directions.</p>
	<button ng-click="startMatch()" class="btn btn-primary btn-lg">Start Match!</button>
	<button ng-click="startChampionship()" class="btn btn-primary btn-lg">Start ChampionShip!</button>
</div>
