<div ng-controller="CarouselCtrl">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>  
<div class="jumbotron" ng-controller="HomeController">
	<h1>Welcome To ScoreBoard!</h1>
	<p>ScoreBoard is an application that is made for managing scoreboard of a cricket match
	on a free to use website.In the current version of ScoreBoard You can manage the scores of a Championship.But In future releases you will be able to organize a whole championship of
	cricket match with matchwise analysis support.You will be able to see the statistics about
	single player performance over the competition.Ground wise score analysis in diffrent directions.</p>
	<button ng-click="startChampionship()" class="btn btn-primary btn-lg">Start ChampionShip!</button>
</div>
