                <div class="col-md-5">
                    <table class="table">
                        <tr><td>Over:14</td></tr>
                        <tr><td>Ball:
                            <ul>
                                <li class="ball-black balls">x</li>
                                <li class="ball-black balls">x</li>
                                <li class="ball-yellow balls">x</li>
                                <li class="ball-red balls"></li>
                                <li class="ball-red balls"></li>
                                <li class="ball-red balls"></li>
                                <li class="ball-red balls"></li>
                            </ul>
                        </td>
                        </tr>
                        <tr><td>Bowler:Shoaib Akhtar</li>
                        <tr><td>OnStrike:Sachin Tendulkar</li>
                        <tr><td>OffStrike:Virendra Sehwag</li>
                        <tr><td>
                            Run:
                            <br>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-default">3</button>
                                <button type="button" class="btn btn-default">Four</button>
                                <button type="button" class="btn btn-default">Sixer</button>
                             </div>
                        </tr>
                        <tr><td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">Wicket</button>
                                <button type="button" class="btn btn-default">Noob</button>
                                <button type="button" class="btn btn-default">Wide</button>
                            </div>
                        </tr>
                        <tr><td>
                            <div class="btn-group" role="group" aria-label="...">
                             </div>
                            </td>
                        </tr>
                    </table>
                </div>

                  <div class="col-md-5">
                    <ul>
                      <li>Score:95/3</li>
                      <li>Overs:14.5</li>
                      <li>Runrate:4.45</li>
                    </ul>
                    <div>
                    <h2>India</h2>
                    <h5>Batting</h5>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Bowled</th>
                          <th>Catched</th>
                          <th>Runs</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>V. Sehwag</td>
                          <td>Shoaib A.</td>
                          <td>Shoaib M.</td>
                          <td>43</td>
                        </tr>
                        <tr>
                          <td>S. Tendulkar</td>
                          <td>Shoaib A.</td>
                          <td>Shoaib M.</td>
                          <td>47</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    <div>
                    <h2>Pakistan</h2>
                    <h5>Bowling</h5>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Overs</th>
                            <th>Wickets</th>
                            <th>Maiden</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Shoaib M.</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                          </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
               