<div class="col-md-12 alert alert-success">
<h4>
<span class="pull-left">Score:124/4</span>
<span class="pull-right">Run Rate:7.16</span>
</h4>
</div>
<div class="col-md-6">
    <div class="panel panel-info" style="overflow:scroll;height:200px;">
    <div class="panel-heading">Batting:   Richard and bradman</div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Runs</th>
            <th>Bowls</th>
            <th>Strike Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>    
    </div>
    <div class="panel panel-info" style="overflow:scroll;height:200px;">
    <div class="panel-heading">Bowling:Nawed</div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Overs</th>
            <th>Wickets</th>
            <th>Extras</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>    
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-info">
    <div class="panel-heading">Score Entry:</div>
    <div class="panel-body">
            <div class="score">
            <ul>
               <li></li>
               <li></li>
            </ul>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">0</button>
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">6</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">wicket</button>
                <button type="button" class="btn btn-default">wide</button>
                <button type="button" class="btn btn-default">noob</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Dropdownli</a></li>
                    <li><a href="#">Dropdownlik</a></li>
                  </ul>
            </div>
    </div>    
    </div>
    <div class="panel panel-info">
    <div class="panel-heading">Last Six balls:</div>
    <div class="panel-body"></div>
    </div>
</div>