<div class="row" ng-controller="TeamEntryCtrl">
	<div class="col-md-12 view-header">
		<h3>Team Entry</h3>
	</div>
<div class="col-md-6">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>S.No.</th>
			<th>Icon</th>
			<th>TeamName</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="team in teams">
			<td>{{team.id}}</td>
			<td><img src="http://lorempixel.com/80/80"></td>
			<td>{{team.teamname}}</td>
			<td>
		<a ng-href="/playerentry/{{team.id}}">
			<button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp;Enter Details</button></a></td>
		</tr>
	</tbody>
</table>
	</div>
	<div class="col-md-6">
		<form role="form">
			<div class="form-group">
				<label>Team Icon:</label>
				<input type="file" >
			</div>
			<div class="form-group">
				<label>Team Name:</label>
				<input type="text" class="form-control" placeholder="Enter Team Name" ng-model="teamname">
			</div>
			<button type="submit" ng-click="addTeam(teamname)" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add Team</button>
			<h3><button class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;Team Entry Done</button></h3>
		</form>
		<hr>
	</div>
</div>