<div class="row" ng-controller="TeamEntryCtrl">
	<div class="col-md-12 view-header">
		<h3>Team Entry</h3>
	</div>
<div class="col-md-6">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>S.No.</th>
			<th>TeamName</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="team in teams">
			<td>{{team.id}}</td>
			<td>{{team.teamname}}</td>
			<td>
		<a ng-href="#/playerentry/{{team.id}}">
			<button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp;Enter Details</button></a></td>
		</tr>
	</tbody>
</table>
	</div>
	<div class="col-md-6">
		<form name="teamentry" novalidate  ng-submit="addTeam(teamname)">
			<div class="form-group">
				<label>Team Name:</label>
				<input type="text" name="teamname" class="form-control" placeholder="Enter Team Name" ng-model="teamname" required>
			</div>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add Team</button>
			<a ui-sref="dashboard.startmatch"><h3><button class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;&nbsp;Team Entry Done</button></h3></a>
		</form>
		<hr>
	</div>
</div>